profiles {
    dockerDockerImg {
        docker.enabled      = true
        docker.runOptions   = '-u $(id -u):$(id -g)'
        process.container   = 'community.wave.seqera.io/library/quarto_pip_jupyter_multiqc_pruned:a0afd98904fa925c'
    }

    singularityDockerImg {
        singularity.enabled = true
        process.container   = 'community.wave.seqera.io/library/quarto_pip_jupyter_multiqc_pruned:a0afd98904fa925c'
    }

    singularitySingularityImg {
        singularity.enabled = true
        process.container   = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/27/27ad4fe625a7c22fb1c8c3ee83dda7276f0e27f68385991df88b330e46e1d930/data'
    }
}